{{ form_start(form) }}
<div class="row">
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.firstname) }}
            {{ form_label(form.firstname, 'Prénom') }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.lastname) }}
            {{ form_label(form.lastname, 'Nom') }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.phone) }}
            {{ form_label(form.phone, 'N° de téléphone') }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.email) }}
            {{ form_label(form.email, 'Adresse e-mail') }}
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-3">
            {{ form_widget(form.winemaker) }}
            {{ form_label(form.winemaker) }}
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-3">
            {{ form_widget(form.subject) }}
            {{ form_label(form.subject, 'Objet de votre demande') }}
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-3">
            {{ form_widget(form.message) }}
            {{ form_label(form.message, 'Votre message') }}
        </div>
    </div>
    <div class="col-8">
        <div class="form-floating mb-3 pt-3">
            {{ form_widget(form.rgpd) }}
            {{ form_label(form.rgpd) }}
        </div>
    </div>
    <div class="col-4 text-end">
        <button class="btn btn-green shadow">{{ button_label|default('Envoyer ma demande') }}</button>
    </div>
    <div class="col-12">
        {{ form_errors(form) }}
    </div>
</div>
{{ form_end(form) }}
