<div class="container py-5">
    <div class="row align-items-center">
        <div class="brand-bottom col-12 col-md-2 text-center text-md-start">
            <img src="/img/logo/logo-le-tap-blanc-h50.png" alt="logo" class="logo" width="92" height="50">
        </div>
        <div class="col-12 col-md-7">
            <div class="row">
                <div class="col-12 py-3 col-md-4 text-center text-md-end"><a class="text-white text-decoration-none" href="{{ path('domain_index') }}">Les Vignerons</a></div>
                <div class="col-12 py-3 col-md-4 text-center"><a class="text-white text-decoration-none" href="{{ path('magazine') }}">Le Mag</a></div>
                <div class="col-12 py-3 col-md-4 text-center text-md-start"><a class="text-white text-decoration-none" href="{{ path('contact') }}">Nous contacter</a></div>
            </div>
        </div>
        <div class="social-bottom col-12 col-md-3 text-center text-md-end">
            <a class="btn rounded-circle bg-white text-purple opacity-100" href="https://www.instagram.com/annuaireletap/" title="Suivre Le Tap sur Instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a class="btn rounded-circle bg-white text-purple opacity-100 mx-3 mx-md-2" href="https://www.facebook.com/annuaireletap/" title="Suivre Le Tap sur Facebook" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            <a class="btn rounded-circle bg-white text-purple opacity-100" href="https://www.linkedin.com/company/annuaireletap/" title="Suivre Le Tap sur LinkedIn" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</div>
<div class="bg-black opacity-50 text-center pt-3 pb-2 text-white">
    <div class="container">
        <div class="d-flex flex-column-reverse flex-md-row justify-content-between alig-items-center">
            <div><a class="text-white text-decoration-none" href="https://dev.kalkom.fr" title="Agence de communication & développement web à Perpignan">kalkom</a> &copy; 2023</div>
            <div class="d-flex flex-column flex-md-row justify-content-center"><span class="pt-5 pt-lg-0 pb-3 pb-lg-0"><a class="text-white text-decoration-none" href="{{ path('legacy') }}">Mentions légales</a></span><span class="pb-3 pb-lg-0 mx-md-5"><a class="text-white text-decoration-none" href="{{ path('privacy_policy') }}">Politique de confidentialité</a></span><span class="pb-5 pb-lg-0"><a class="text-white text-decoration-none" href="{{ path('services') }}">Nos services pour vignerons</a></span></div>
        </div>
    </div>
</div>
