<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand opacity-100" href="{{ path('homepage') }}"><img src="/img/logo/logo-le-tap-blanc-h50.png" alt="logo" class="logo" width="92" height="50"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:#fff; font-size:28px;"></i></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
            <div class="navbbar-social text-center px-5">
                <a class="btn rounded-circle bg-purple text-white opacity-100" href="https://www.facebook.com/annuaireletap/" title="Suivre Le Tap sur Facebook" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a class="btn rounded-circle bg-purple text-white opacity-100 mx-3 mx-md-2" href="https://www.instagram.com/annuaireletap/" title="Suivre Le Tap sur Instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a class="btn rounded-circle bg-purple text-white opacity-100" href="https://www.linkedin.com/company/annuaireletap/" title="Suivre Le Tap sur LinkedIn" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <ul class="navbar-nav text-center">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('domain_index') }}">Les vignerons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('magazine') }}">Le Mag</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">Nous contacter</a>
                </li>
            </ul>
            <form id="search-form" class="navbar-form-search d-flex" action="{{ path('search_results') }}" method="GET">
                <input id="search-input" class="form-control-navbar" type="search" name="q" placeholder="mots clés..." aria-label="Search" required>
                <button id="search-button" class="btn btn-navbar-search" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </div>
</nav>
