{% extends 'back.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <h1>{{ page_name }}</h1>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-12">
            <div class="form-floating my-3">
                {{ form_widget(form.current_password) }}
                {{ form_label(form.current_password, 'Mot de passe actuel') }}
                {{ form_errors(form.new_password.first) }}
            </div>
        </div>
        <div class="col-12">
            <div class="form-floating mb-3">
                {{ form_widget(form.new_password.first) }}
                {{ form_label(form.new_password.first, 'Nouveau mot de passe') }}
                {{ form_errors(form.new_password.first) }}
            </div>
        </div>
        <div class="col-12">
            <div class="form-floating mb-3">
                {{ form_widget(form.new_password.second) }}
                {{ form_label(form.new_password.second, 'Répéter le nouveau mot de passe') }}
                {{ form_errors(form.new_password.second) }}
            </div>
        </div>
        <div class="col-12 mt-3">
            <button class="btn btn-purple w-100">{{ button_label|default('Enregistrer mon mot de passe') }}</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
