{% extends 'back.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}

    <h1>{{ page_name }}</h1>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-12">
            <div class="form-floating my-3">
                {{ form_widget(form.firstname) }}
                {{ form_label(form.firstname, 'Prénom') }}
            </div>
        </div>
        <div class="col-12">
            <div class="form-floating mb-3">
                {{ form_widget(form.lastname) }}
                {{ form_label(form.lastname, 'Nom') }}
            </div>
        </div>
        <div class="col-12">
            <div class="form-floating mb-3">
                {{ form_widget(form.gender) }}
                {{ form_label(form.gender, 'Je suis') }}
            </div>
        </div>
        <div class="col-12">
            <div class="form-floating mb-3">
                {{ form_widget(form.bornAt) }}
                {{ form_label(form.bornAt, 'Date de naissance') }}
            </div>
        </div>
        <div class="col-12">
            <div class="form-floating mb-3">
                {{ form_widget(form.phone) }}
                {{ form_label(form.phone, 'N° de téléphone') }}
            </div>
        </div>
        <div class="col-12 mt-3">
            <button class="btn btn-purple w-100">{{ button_label|default('Enregistrer mes informations') }}</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
