{% extends 'back.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 class="mb-3 text-center">{{ page_name }}</h1>
    <p class="welcome text-center">Hello{% if app.user.firstname %} {{ app.user.firstname }}{% endif %}, sois {% if app.user.gender == 'F' %}la{% else %}le{% endif %} bienvenu{% if app.user.gender == 'F' %}e{% endif %} !</p>
    <div class="">
        <a class="rounded-pill py-3 btn bg-secondary-subtle text-purple w-100 my-2" href="{{ path('edit_infos') }}">Tu peux modifier tes informations</a>
        <a class="rounded-pill py-3 btn bg-secondary-subtle text-purple w-100 my-2" href="{{ path('change_password') }}">Tu peux modifier ton mot de passe</a>
        <a class="rounded-pill py-3 btn bg-secondary-subtle text-purple w-100 my-2" href="{{ path('deconnexion') }}">Tu peux te déconnecter</a>
        {% if is_granted('ROLE_TEAM') %}
        <p class="text-center mt-3">En tant que <strong>membre du Tap</strong>, tu peux</p>
        <a class="rounded-pill py-3 btn bg-secondary-subtle text-purple w-100 mb-2" href="{{ path('backoffice_contact_index') }}">Consulter les messages reçus</a>
        <a class="rounded-pill py-3 btn bg-secondary-subtle text-purple w-100 my-2" href="{{ path('backoffice_domain_index') }}">Gérer les domaines viticoles</a>
        <a class="rounded-pill py-3 btn bg-secondary-subtle text-purple w-100 my-2" href="{{ path('backoffice_post_index') }}">Gérer les articles du Magazine</a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
      <p class="text-center mt-3">En tant qu'<strong>{% if app.user.gender == 'F' %}administratrice{% else %}administrateur{% endif %}</strong>, tu peux</p>
        <a class="rounded-pill py-3 btn bg-secondary-subtle text-purple w-100 mb-2" href="{{ path('admin_land_index') }}">Gérer les vallées</a>
        <a class="rounded-pill py-3 btn bg-secondary-subtle text-purple w-100 my-2" href="{{ path('admin_city_index') }}">Gérer les villes</a>
        <a class="rounded-pill py-3 btn bg-secondary-subtle text-purple w-100 my-2" href="{{ path('admin_category_index') }}">Gérer les catégories d'articles</a>
        {% endif %}
    </div>
</div>
{% endblock %}
