{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="d-flex flex-row justify-content-between align-items-center mb-5">
        <h1>{{ page_name }}</h1>
        <a class="btn btn-white-outline-rounded" href="{{ path('admin_land_index') }}">Retour aux territoires</a>
    </div>
    {{ include('admin/land/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('admin/land/_delete_form.html.twig') }}
</div>
{% endblock %}
