{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="d-flex flex-row justify-content-between align-items-center mb-5">
        <h1>{{ page_name }}</h1>
        <a class="btn btn-white-outline-rounded" href="{{ path('admin_land_new') }}">Ajouter un territoire</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Nom</th>
                <th class="text-start">Slug</th>
                <th class="text-start">Mise à jour</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for land in lands %}
            <tr>
                <td class="text-start">{{ land.name }}</td>
                <td class="text-start">{{ land.slug }}</td>
                <td class="text-start">{{ land.updatedAt ? land.updatedAt|date('d/m/Y à H:i', timezone='Europe/Paris') : '' }}</td>
                <td class="text-end">
                    <a href="{{ path('admin_land_show', {'id': land.id}) }}" title="Voir"><i class="fa-solid fa-eye me-3"></i></a>
                    <a href="{{ path('admin_land_edit', {'id': land.id}) }}" title="Éditer"><i class="fa-solid fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement dans la base de données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
