{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="d-flex flex-row justify-content-between align-items-center mb-5">
        <h1>{{ page_name }}</h1>
        <a class="btn btn-white-outline-rounded" href="{{ path('admin_land_index') }}">Retour aux territoires</a>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ land.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ land.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ land.slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ land.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ land.createdAt ? land.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ land.updatedAt ? land.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_land_edit', {'id': land.id}) }}">edit</a>
    {{ include('admin/land/_delete_form.html.twig') }}
</div>
{% endblock %}
