{{ form_start(form) }}
<div class="row">
    <div class="col-12 col-md-9">
        <div class="form-floating mb-3">
            {{ form_widget(form.name) }}
            {{ form_label(form.name, 'Nom du domaine') }}
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-floating mb-3">
            {{ form_widget(form.owner) }}
            {{ form_label(form.owner, 'Propriétaire') }}
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-3">
            {{ form_widget(form.description) }}
            {{ form_label(form.description, 'Description du domaine') }}
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-3">
            {{ form_widget(form.cuvee) }}
            {{ form_label(form.cuvee, 'Cuvée coup de coeur') }}
        </div>
    </div>
    <div class="col-12">
        <h2 class="h5 mt-4 mb-3">Services et activités</h2>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-floating mb-3">
            {{ form_widget(form.eCommerce) }}
            {{ form_label(form.eCommerce) }}
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-floating mb-3">
            {{ form_widget(form.vinBio) }}
            {{ form_label(form.vinBio) }}
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-floating mb-3">
            {{ form_widget(form.sulfite) }}
            {{ form_label(form.sulfite) }}
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-floating mb-3">
            {{ form_widget(form.public) }}
            {{ form_label(form.public) }}
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-floating mb-3">
            {{ form_widget(form.localEvent) }}
            {{ form_label(form.localEvent) }}
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-floating mb-3">
            {{ form_widget(form.balade) }}
            {{ form_label(form.balade) }}
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-floating mb-3">
            {{ form_widget(form.visite) }}
            {{ form_label(form.visite) }}
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-floating mb-3">
            {{ form_widget(form.piqueNique) }}
            {{ form_label(form.piqueNique) }}
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-floating mb-3">
            {{ form_widget(form.restauration) }}
            {{ form_label(form.restauration) }}
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-floating mb-3">
            {{ form_widget(form.hebergement) }}
            {{ form_label(form.hebergement) }}
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-floating mb-3">
            {{ form_widget(form.location) }}
            {{ form_label(form.location) }}
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-floating mb-3">
            {{ form_widget(form.groupe) }}
            {{ form_label(form.groupe) }}
        </div>
    </div>
    <div class="col-12">
        <h2 class="h5 mt-4 mb-3">Situation géographique</h2>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.address) }}
            {{ form_label(form.address, 'Adresse') }}
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-floating mb-3">
            {{ form_widget(form.city) }}
            {{ form_label(form.city, 'Ville') }}
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-floating mb-3">
            {{ form_widget(form.land) }}
            {{ form_label(form.land, 'Vallée') }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.lat) }}
            {{ form_label(form.lat, 'Latitude') }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.lng) }}
            {{ form_label(form.lng, 'Longitude') }}
        </div>
    </div>
    <div class="col-12">
        <h2 class="h5 mt-4 mb-3">Contact & réseaux sociaux</h2>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.email) }}
            {{ form_label(form.email, 'Adresse e-mail') }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.phone) }}
            {{ form_label(form.phone, 'N° de téléphone') }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.website) }}
            {{ form_label(form.website, 'Site internet') }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.facebook) }}
            {{ form_label(form.facebook) }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.instagram) }}
            {{ form_label(form.instagram) }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.linkedin) }}
            {{ form_label(form.linkedin) }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.pinterest) }}
            {{ form_label(form.pinterest) }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.twitter) }}
            {{ form_label(form.twitter) }}
        </div>
    </div>
    <div class="col-12">
        <h2 class="h5 mt-4 mb-3">Horaires d'ouverture</h2>
    </div>
    <div class="col-12">
        <div class="mb-3">
            {{ form_widget(form.schedule) }}
        </div>
    </div>
    <div class="col-12">
        <h2 class="h5 mt-4 mb-3">Images</h2>
    </div>
    <div class="col-12">
        <div class="form-floating mb-3">
            {{ form_label(form.thumbnailFile, 'Vignette') }}
            {{ form_widget(form.thumbnailFile) }}
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-3">
            {{ form_label(form.featuredFile, 'Image principale') }}
            {{ form_widget(form.featuredFile) }}
        </div>
    </div>
    <div class="col-12 text-end pt-3">
        <button class="btn btn-purple">{{ button_label|default('Enregistrer le domaine') }}</button>
    </div>
</div>
{{ form_end(form) }}
