{% extends 'back.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="d-flex flex-row justify-content-between align-items-center mb-5">
        <h1>{{ page_name }}</h1>
        <a class="btn btn-purple" href="{{ path('backoffice_domain_index') }}">Retour aux domaines</a>
    </div>
    {{ include('backoffice/domain/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}
    {{ include('backoffice/domain/_delete_form.html.twig') }}
</div>
{% endblock %}
