{% extends 'back.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <div class="d-flex flex-row justify-content-between align-items-center mb-5">
        <h1>{{ page_name }}</h1>
        <a class="btn btn-purple" href="{{ path('backoffice_domain_new') }}">Ajouter un domaine</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Nom</th>
                <th class="text-start">Ville</th>
                <th class="text-start">Mise à jour</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for domain in domains %}
            <tr>
                <td class="text-start">{{ domain.name }}</td>
                <td class="text-start">{{ domain.city }}</td>
                <td class="text-start">{{ domain.updatedAt ? domain.updatedAt|date('d/m/Y à H:i', timezone='Europe/Paris') : '' }}</td>
                <td class="text-end">
                    <a class="text-purple" href="{{ path('domain_show', {'slug': domain.slug}) }}" title="Voir le domaine"><i class="fa-solid fa-eye me-3"></i></a>
                    <a href="{{ path('backoffice_domain_edit', {'slug': domain.slug}) }}" title="Éditer le domaine"><i class="fa-solid fa-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement dans la base de données</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
