{% extends 'back.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <div class="d-flex flex-row justify-content-between align-items-center mb-5">
        <h1>{{ page_name }}</h1>
        <a class="btn btn-white-outline-rounded" href="{{ path('backoffice_domain_index') }}">Retour aux domaines</a>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ domain.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ domain.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ domain.slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ domain.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ domain.createdAt ? domain.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ domain.updatedAt ? domain.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('backoffice_domain_edit', {'slug': domain.slug}) }}">edit</a>
    {{ include('backoffice/domain/_delete_form.html.twig') }}
{% endblock %}
