{{ form_start(form) }}
<div class="row">
    <div class="col-12 col-md-8">
        <div class="form-floating mb-3">
            {{ form_widget(form.title) }}
            {{ form_label(form.title, 'Titre') }}
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="form-floating mb-3">
            {{ form_widget(form.category) }}
            {{ form_label(form.category, 'Catégorie') }}
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-3">
            {{ form_widget(form.description) }}
            {{ form_label(form.description) }}
        </div>
    </div>
    <div class="col-12">
        <div class="mb-3">
            {{ form_widget(form.content) }}
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-3">
            {{ form_label(form.thumbnailFile, 'Image à la une') }}
            {{ form_widget(form.thumbnailFile) }}
        </div>
    </div>
    <div class="col-12">
        <div class="mb-3">
            {{ form_label(form.tags, 'Étiquettes') }}
            {{ form_widget(form.tags) }}
        </div>
    </div>
    <div class="col-12 text-end">
        <button class="btn btn-purple">{{ button_label|default('Ajouter cet article') }}</button>
    </div>
</div>
{{ form_end(form) }}
