{% extends 'back.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <div class="d-flex flex-row justify-content-between align-items-center mb-5">
        <h1>{{ page_name }}</h1>
        <a class="btn btn-purple" href="{{ path('backoffice_post_new') }}">Ajouter un article</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Titre</th>
                <th class="text-start">Mise à jour</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td class="text-start">{{ post.title }}</td>
                <td class="text-start">{{ post.updatedAt ? post.updatedAt|date('d/m/Y à H:i', timezone='Europe/Paris') : '' }}</td>
                <td class="text-end">
                    <a class="text-purple" href="{{ path('article', {'category': post.category.slug, 'slug': post.slug}) }}" title="Voir l'article" target="_blank"><i class="fa-solid fa-eye me-3"></i></a>
                    <a href="{{ path('backoffice_post_edit', {'id': post.id}) }}" title="Éditer l'article"><i class="fa-solid fa-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
