{% extends 'back.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <div class="d-flex flex-row justify-content-between align-items-center mb-5">
        <h1>{{ page_name }}</h1>
        <a class="btn btn-purple" href="{{ path('backoffice_post_index') }}">Retour aux articles</a>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ post.slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ post.description }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('backoffice_post_edit', {'id': post.id}) }}">edit</a>

    {{ include('backoffice/post/_delete_form.html.twig') }}
{% endblock %}
