.navbar {
    background-color: #000;
    opacity: 0.75;
}
.navbar > .container > .collapse > form.navbar-form-search {
    background-color: #fff !important;
    opacity: 1 !important;
    border-radius: 1.5rem;
}
.form-control-navbar {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    border: solid 1px #fff;
    border-radius: 1.5rem;
    color: #000;
}
.btn-navbar-search {
    background-color: #fff;
    border: solid 1px #fff;
}
.banner-default {
    background: no-repeat center center;
    background-size: cover;
    height: 442px;
    margin-top: -80px;
}
.container-default-page,
.container-banner-default,
.container-search-domain,
.container-content-domain,
.container-help-us,
.container-banner-contact,
.content-contact-container,
.back-banner-container,
.back-content-container,
.back-banner-container-account,
.back-content-container-account {
    margin-left: auto;
    margin-right: auto;
}
textarea#post_description,
textarea#domain_description,
textarea#category_description,
textarea#city_description {
    height: 6rem;
}
textarea#contact_message,
textarea#contact_service_message {
    height: 10rem;
}
@media (max-width: 991.98px) {
    .navbar {
        background-color: #000;
        opacity: 1;
    }
    .navbbar-social {
        margin-bottom: 30px;
    }
    .navbar-nav > .nav-item > .nav-link {
        font-size: 1.2rem;
    }
    .navbar-form-search {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .container-banner-default {
        padding-top: 250px;
        width: 90% !important;
    }
    .brand-bottom {
        margin-bottom: 25px;
    }
    .social-bottom {
        padding-top: 25px;
    }
}
@media (min-width: 768px) {
    .container-banner-default {
        width: 90% !important;
    }
    .banner-default > .container-banner-default > h1,
    .banner-default > .container-banner-contact > h1 {
        border-left: solid 5px #761f76;
        font-size: 2.5rem;
        font-weight: 300;
        padding-left: 1rem !important;
    }
    .banner-default > .container-banner-default > h1 > strong {
        font-weight: 500;
    }
    .container-default-page {
        padding-bottom: 3rem !important;
        padding-top: 3rem !important;
    }
    .container-default-page p {
        font-size: 0.9rem;
    }
    .container-search-domain {
        margin-top: -45px;
    }
    .container-content-domain {
        margin-top: -800px;
    }
    .container-help-us {
        border-radius: 1rem !important;
        margin-bottom: 3rem !important;
        margin-top: -100px;
        width: 90% !important;
    }
    img.help-us {
        margin-top: 25px;
    }
    .container-help-us h2 {
        font-size: 1.4rem;
        font-weight: 300;
    }
    .container-help-us h2 > strong {
        font-weight: 500;
    }
    .container-help-us p {
        font-weight: 300;
    }
    .container-help-us p > strong {
        font-weight: 500;
    }
    .content-contact-container {
        margin-bottom: 80px;
        margin-top: -120px;
        width: 90% !important;
    }
    /** BACKOFFICE **/
    .back-banner {
        background: no-repeat center center;
        background-size: cover;
        height: 442px;
        margin-top:-80px;
    }
    .back-banner-container {
        padding-top: 100px;
        width: 90% !important;
    }
    .back-content-container {
        margin-top: -270px;
        width: 90% !important;
    }
    .back-banner-container-account {
        padding-top: 100px;
        width: 65%;
    }
    .back-content-container-account {
        margin-top: -270px;
        width: 65%;
    }
    .back-content-container-account h1 {
        font-size: 1.8rem;
    }
    .separator-heading {
        background-color: #761f76;
        height: 4px;
        margin: 3rem auto 5rem;
        width: 33%;
    }
    .separator-section {
        background-color: #761f76;
        height: 1px;
        margin: 5rem auto;
        width: 33%;
    }
}
@media (min-width: 992px) {
    .container-banner-default {
        padding-top: 250px;
        width: 90% !important;
    }
    .banner-default > .container-banner-default > h1,
    .banner-default > .container-banner-contact > h1 {
        border-left: solid 5px #761f76;
        font-size: 2.5rem;
        font-weight: 300;
        padding-left: 1rem !important;
    }
    .banner-default > .container-banner-default > h1 > strong {
        font-weight: 500;
    }
    .container-default-page {
        padding-bottom: 3rem !important;
        padding-top: 3rem !important;
        width: 90% !important;
    }
    .container-default-page p {
        font-size: 0.9rem;
    }
    .container-help-us {
        border-radius: 1rem !important;
        margin-bottom: 3rem !important;
        margin-top: -100px;
        width: 90% !important;
    }
    img.help-us {
        margin-top: -40px;
    }
    .container-help-us h2 {
        font-size: 1.8rem;
        font-weight: 300;
    }
    .container-help-us h2 > strong {
        font-weight: 500;
    }
    .container-help-us p {
        font-weight: 300;
    }
    .container-help-us p > strong {
        font-weight: 500;
    }
    .content-contact-container {
        margin-bottom: 80px;
        margin-top: -120px;
        width: 90% !important;
    }
    /** BACKOFFICE **/
    .back-banner {
        background: no-repeat center center;
        background-size: cover;
        height: 442px;
        margin-top:-80px;
    }
    .back-banner-container {
        padding-top: 100px;
        width: 90% !important;
    }
    .back-content-container {
        margin-top: -270px;
        width: 90% !important;
    }
    .back-banner-container-account {
        padding-top: 100px;
        width: 50%;
    }
    .back-content-container-account {
        margin-top: -270px;
        width: 50%;
    }
    .back-content-container-account h1 {
        font-size: 1.8rem;
    }
    .separator-heading {
        background-color: #761f76;
        height: 4px;
        margin: 3rem auto 5rem;
        width: 33%;
    }
    .separator-section {
        background-color: #761f76;
        height: 1px;
        margin: 5rem auto;
        width: 33%;
    }
}
@media (min-width: 1200px) {
    .container-banner-default {
        padding-top: 250px;
        width: 75% !important;
    }
    .banner-default > .container-banner-contact {
        padding-top: 150px;
        width: 75% !important;
    }
    .banner-default > .container-banner-default > h1,
    .banner-default > .container-banner-contact > h1 {
        border-left: solid 5px #761f76;
        font-size: 2.5rem;
        font-weight: 300;
        padding-left: 1rem !important;
    }
    .banner-default > .container-banner-default > h1 > strong {
        font-weight: 500;
    }
    .content > .container-default-page {
        padding-bottom: 3rem !important;
        padding-top: 3rem !important;
        width: 75% !important;
    }
    .content > .container-default-page p {
        font-size: 0.9rem;
    }
    .container-contact-page {
        margin: -150px auto 80px;
        padding-bottom: 3rem !important;
        padding-top: 3rem !important;
        width: 75% !important;
    }
    .content-contact-container {
        margin-bottom: 80px;
        margin-top: -120px;
        width: 75%;
    }
    .container-help-us {
        border-radius: 1rem !important;
        margin-bottom: 3rem !important;
        margin-top: -100px;
        width: 75% !important;
    }
    img.help-us {
        margin-top: -40px;
    }
    .container-help-us h2 {
        font-size: 2rem;
        font-weight: 300;
    }
    .container-help-us h2 > strong {
        font-weight: 500;
    }
    .container-help-us p {
        font-weight: 300;
    }
    .container-help-us p > strong {
        font-weight: 500;
    }
    /** BACKOFFICE **/
    .back-banner {
        background: no-repeat center center;
        background-size: cover;
        height: 442px;
        margin-top:-80px;
    }
    .back-banner-container {
        padding-top: 100px;
        width: 75%;
    }
    .back-content-container {
        margin-top: -270px;
        width: 75%;
    }
    .back-banner-container-account {
        padding-top: 100px;
        width: 40%;
    }
    .back-content-container-account {
        margin-top: -270px;
        width: 40%;
    }
    .back-content-container-account h1 {
        font-size: 1.8rem;
    }
    .separator-heading {
        background-color: #761f76;
        height: 4px;
        margin: 3rem auto 5rem;
        width: 33%;
    }
    .separator-section {
        background-color: #761f76;
        height: 1px;
        margin: 5rem auto;
        width: 33%;
    }
}
@media (max-width: 575.98px) {
    .navbar-form-search {
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    .container-banner-default {
        padding-top: 220px;
        width: 85% !important;
    }
    .banner-default > .container-banner-default > h1,
    .banner-default > .container-banner-contact > h1 {
        border-left: solid 5px #761f76;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 2.5rem;
        padding-left: 1rem !important;
    }
    .container-default-page {
        padding: 2rem 1rem;
    }
    .accueil-intro p {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .spacer.bg-white {
        display: none;
    }
    img.img-accueil {
        display: none;
    }
    img.help-us {
        margin-top: -40px;
    }
    .cta-content {
        margin-bottom: 20px;
        margin-top: -50px;
    }
    .cta-content p {
        padding-bottom: 1.2rem;
        padding-top: 1.2rem;
    }
    .container-search-domain {
        margin-top: -85px;
    }
    .container-content-domain {
        margin-top: -300px;
    }
}
.card-category h2 {
    font-size: 1.2rem;
}
.post-content p {
  font-size: 1.1rem;
  font-weight: 200;
}
.post-content h2 {
    color: #761f76;
    font-weight: 600;
}
p.post-intro {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 200;
}
