{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>{{ page_name }}</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/dev.le-tap.com/src/Controller/BackofficeController.php'|file_link(0) }}">src/Controller/BackofficeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/dev.le-tap.com/templates/backoffice/index.html.twig'|file_link(0) }}">templates/backoffice/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
