{% extends 'back.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
<div class="d-flex flex-row justify-content-between align-items-center mb-5">
    <h1>{{ page_name }}</h1>
    <a class="btn btn-purple" href="{{ path('admin_category_new') }}">Ajouter une catégorie</a>
</div>
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Nom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td class="text-start">{{ category.name }}</td>
                <td class="d-flex flex-row justify-content-end align-items-center">
                    <a class="text-purple" href="{{ path('category', {'slug': category.slug}) }}" title="Voir la catégorie" target="_blank"><i class="fa-solid fa-eye me-3"></i></a>
                    <a href="{{ path('admin_category_edit', {'id': category.id}) }}" title="Éditer la catégorie"><i class="fa-solid fa-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
