{% extends 'back.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
<div class="d-flex flex-row justify-content-between align-items-center mb-5">
    <h1>{{ page_name }}</h1>
    <a class="btn btn-purple" href="{{ path('admin_category_index') }}">Retour aux catégories</a>
</div>
    {{ include('admin/category/_form.html.twig') }}
{% endblock %}
