{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block description %}{% endblock %}

{% block body %}
{% set contentLength = post.content|striptags|length %}
{% set readingTime = contentLength / 200 %}

{% if readingTime < 1 %}
    {% set readingTimeMinutes = (readingTime * 60)|round %}
    {% set readingTimeText = readingTimeMinutes > 1 ? readingTimeMinutes ~ ' minutes' : '1 minute' %}
{% else %}
    {% set readingTimeMinutes = readingTime|round %}
    {% set readingTimeText = readingTimeMinutes > 1 ? readingTimeMinutes ~ ' minutes' : '1 minute' %}
{% endif %}

{% if readingTimeMinutes == 1 %}
    {% set readingTimeText = '1 minute' %}
{% elseif readingTimeMinutes > 1 %}
    {% set readingTimeText = readingTimeText ~ ' minutes' %}
{% endif %}
<div id="{{ post.slug }}" class="wrapper">
    <div class="banner" style="background:url(/img/banner/banner-accueil-le-tap.webp) no-repeat center center;background-size: cover;height:442px;margin-top:-80px;">
        <div class="container w-75" style="padding-top:175px;">
            <div class="headline text-white ps-3" style="border-left: solid 5px #761F76;">
                <h1>{{ page_name }}</h1>
                <span>
                {% if post.updatedAt %}
                    {% set now = "now"|date_modify("-1 second") %}
                    {% set diff = now.diff(post.updatedAt) %}
                    {% set years = diff.y %}
                    {% set months = diff.m %}
                    {% set days = diff.d %}
                    {% set hours = diff.h %}
                    {% set minutes = diff.i %}

                    {% if years > 0 %}
                        {{ "Modifié il y a " ~ years ~ (years > 1 ? " ans" : " an") }}
                    {% elseif months > 0 %}
                        {{ "Modifié il y a " ~ months ~ (months > 1 ? " mois" : " mois") }}
                    {% elseif days > 0 %}
                        {{ "Modifié il y a " ~ days ~ (days > 1 ? " jours" : " jour") }}
                    {% elseif hours > 0 %}
                        {{ "Modifié il y a " ~ hours ~ (hours > 1 ? " heures" : " heure") }}
                    {% else %}
                        {{ "Modifié il y a " ~ minutes ~ (minutes > 1 ? " minutes" : " minute") }}
                    {% endif %}
                {% endif %}
              </span> | <span>Temps de lecture estimé : {{ readingTimeText }}</span>{% if is_granted('ROLE_TEAM') %}<span> | <a class="text-white" href="{{ path('backoffice_post_edit', {'id': post.id}) }}">Éditer cet article</a></span>{% endif %}
            </div>
        </div>
    </div>
    <div class="container bg-white w-75 p-5 rounded-3 shadow" style="margin-bottom:100px;margin-top:-100px;">
        <nav class="post-breadcrumb le-mag-back mb-3">
            <a class="text-decoration-none text-purple" href="{{ path('magazine') }}"><i class="fa-regular fa-house me-2"></i>Le Mag</a> / <a class="text-decoration-none text-purple" href="{{ path('category', {'slug': post.category.slug}) }}">{{ post.category.name}}</a> / <span class="text-secondary">{{ post.title}}</span>
        </nav>
        <div class="post-content">
            <p class="post-intro my-5">{{ post.description }}</p>
            {{ post.content|raw }}
        </div>
    </div>
</div>
{% endblock %}
