{% extends 'base.html.twig' %}

{% block title %}{{ page_name }} des Pyrénées-Orientales | Le Tap{% endblock %}

{% block description %}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div class="banner" style="background:url(/img/banner/banner-accueil-le-tap.webp) no-repeat center center;background-size: cover;height:442px;margin-top:-80px;">
        <div class="container w-75" style="padding-top:175px;">
            <div class="headline ps-3" style="border-left: solid 5px #761F76;">
                <h1 class="text-white">{{ page_name }}</h1>
                <p class="text-white" style="font-size:1.4rem;font-weight:300;">{{ category.headline }}</p>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container w-75 bg-white shadow rounded p-4 pt-5 mb-5" style="margin-top:-100px;">
            <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card card-category card-category-first h-100 border-0 bg-white">
                    <div class="card-body">
                        <div class="le-mag-back mb-3">
                            <a class="text-decoration-none text-purple" href="{{ path('magazine') }}"><i class="fa-regular fa-house me-2"></i>Le Mag</a>
                        </div>
                        <p class="card-text">paragraphe, texte d'introduction...</p>
                    </div>
                </div>
            </div>
            {% for post in posts %}
                <div class="col-md-4 mb-3">
                    <div id="card-{{ post.slug }}" class="card card-category card-{{ post.category.slug }} h-100">
                        <div class="card-body">
                            <h2>{{ post.title }}</h2>
                        </div>
                        <div class="card-footer d-flex flex-row justify-content-between align-items-center">
                            {% if is_granted('ROLE_TEAM') %}
                            <span><a class="text-success" title="Éditer cet article" href="{{ path('backoffice_post_edit', {'id': post.id}) }}"><i class="fa-regular fa-pencil me-2"></i></a></span>
                            {% endif %}
                            <span><a class="text-decoration-none text-purple" href="{{ path('article', {'category': post.category.slug, 'slug': post.slug}) }}">Consulter cet article<i class="fa-regular fa-eye ms-2"></i></a></span>
                        </div>
                    </div>
                </div>
                {% else %}
                  <div class="col-12">
                    not found
                  </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
