{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block description %}{% endblock %}

{% block body %}
<div class="banner" style="background:url(/img/banner/banner-accueil-le-tap.webp) no-repeat center center;background-size: cover;height:442px;margin-top:-80px;">
</div>
<div class="container w-50 bg-white rounded-3 shadow mb-5 p-5" style="margin-top:-200px;">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="mb-5">{{ page_name }}</h1>

        <div class="form-floating mb-3">
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputEmail">Adresse e-maill</label>
        </div>
        <div class="form-floating mb-4">
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            <label for="inputPassword">Mot de passe</label>
        </div>
        <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
        <div class="form-check mb-3">
            <label>
                <input class="form-check-input" type="checkbox" name="_remember_me"> Se souvenir de moi
            <label class="form-check-label" for="flexCheckChecked">
        </div>
        <button class="btn btn-lg btn-purple w-100" type="submit">
            Connexion
        </button>
    </form>
</div>
{% endblock %}
