{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block description %}{% endblock %}

{% block body %}
<div class="banner-default" style="background:url(/img/banner/banner-accueil-le-tap.webp)">
    <div class="container container-banner-contact">
        <h1 class="text-white">Contacter le Tap, <br><strong>l'annuaire de tous les vignerons</strong></h1>
    </div>
</div>
<div class="container-contact-page rounded-4 bg-white p-5">
    {{ include('_partials/_contact_form.html.twig') }}
</div>
{% endblock %}
