{% extends 'base.html.twig' %}

{% block title %}{{ page_name }} | Le Tap{% endblock %}

{% block description %}Retrouvez {{ page_name }}, domaine viticole à {{ domain.city.name }}, dans l'annuaire des vignerons{% endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ page_name }}" />
<meta property="og:description" content="Retrouvez {{ page_name }}, domaine viticole à {{ domain.city.name }}, dans l'annuaire des vignerons" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="Le Tap" />
<meta property="og:url" content="https://le-tap.com/vigneron/{{ domain.slug }}" />
<meta property="og:image" content="https://le-tap.com{% if domain.thumbnailName %}{{ vich_uploader_asset(domain, 'thumbnailFile') }}{% else %}/img/thumbnail-domain-le-tap-annuaire-vigneron.jpg{% endif %}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:locale" content="fr_FR" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% if domain.lat and domain.lng %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    {% endif %}
{% endblock %}

{% block body %}
<div id="{{ domain.slug }}">
    <div class="banner-default" style="background:url(/img/banner/banner-domain-annuaire-de-vigneron-le-tap.webp)">
    </div>
    <div class="spacer bg-white d-none d-sm-block" style="height:600px;"></div>
    <div class="container container-content-domain w-75 bg-white shadow mb-5">
        <div class="row">
            <div class="col-12 col-md-6 p-5">
                <h1 style="font-size:1.8rem;font-weight:600;">
                    {{ domain.name }}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if is_granted('ROLE_TEAM') %}
                    <a class="ms-2" href="{{ path('backoffice_domain_edit', {'slug': domain.slug}) }}">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                    {% endif %}
                    {% endif %}
                </h1>
                <p style="font-size:0.9rem;">{{ domain.description }}</p>
                {% if domain.cuvee %}
                <p><strong>Cuvée coup de <i class="fa-solid fa-heart me-2" style="color:#ff15ff;font-size:1.1rem;"></i></strong> {{ domain.cuvee }}</p>
                {% endif %}
                <ul class="fa-ul">
                    <li><span class="fa-li">{% if domain.eCommerce %}<i class="fa-solid fa-check text-success"></i>{% else %}<i class="fa-solid fa-xmark text-danger"></i>{% endif %}</span>Pratique la vente en ligne</li>
                    <li><span class="fa-li">{% if domain.vinBio %}<i class="fa-solid fa-check text-success"></i>{% else %}<i class="fa-solid fa-xmark text-danger"></i>{% endif %}</span>Propose des vins Bio</li>
                    <li><span class="fa-li">{% if domain.sulfite %}<i class="fa-solid fa-check text-success"></i>{% else %}<i class="fa-solid fa-xmark text-danger"></i>{% endif %}</span>Vins avec moins de 40mg/l de sulfite</li>
                    <li><span class="fa-li">{% if domain.public %}<i class="fa-solid fa-check text-success"></i>{% else %}<i class="fa-solid fa-xmark text-danger"></i>{% endif %}</span>Accueil du public au domaine</li>
                    <li><span class="fa-li">{% if domain.localEvent %}<i class="fa-solid fa-check text-success"></i>{% else %}<i class="fa-solid fa-xmark text-danger"></i>{% endif %}</span>Organise des événements locaux</li>
                    <li><span class="fa-li">{% if domain.balade %}<i class="fa-solid fa-check text-success"></i>{% else %}<i class="fa-solid fa-xmark text-danger"></i>{% endif %}</span>Balades au départ du domaine</li>
                    <li><span class="fa-li">{% if domain.visite %}<i class="fa-solid fa-check text-success"></i>{% else %}<i class="fa-solid fa-xmark text-danger"></i>{% endif %}</span>Visite du domaine sur rendez-vous</li>
                    <li><span class="fa-li">{% if domain.piqueNique %}<i class="fa-solid fa-check text-success"></i>{% else %}<i class="fa-solid fa-xmark text-danger"></i>{% endif %}</span>Espaces de pique-nique à proximité</li>
                    <li><span class="fa-li">{% if domain.restauration %}<i class="fa-solid fa-check text-success"></i>{% else %}<i class="fa-solid fa-xmark text-danger"></i>{% endif %}</span>Service de restauration sur place</li>
                    <li><span class="fa-li">{% if domain.hebergement %}<i class="fa-solid fa-check text-success"></i>{% else %}<i class="fa-solid fa-xmark text-danger"></i>{% endif %}</span>Possibilité d'hébergement sur le domaine</li>
                    <li><span class="fa-li">{% if domain.location %}<i class="fa-solid fa-check text-success"></i>{% else %}<i class="fa-solid fa-xmark text-danger"></i>{% endif %}</span>Location d'espaces sur le domaine</li>
                    <li><span class="fa-li">{% if domain.hebergement %}<i class="fa-solid fa-check text-success"></i>{% else %}<i class="fa-solid fa-xmark text-danger"></i>{% endif %}</span>Visite de groupe sur rendez-vous</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 p-0">
            {% if domain.featuredName %}
                <img src="{{ vich_uploader_asset(domain, 'featuredFile') }}" class="w-100" alt="photo de {{ domain.name }}" />
            {% else %}
                <img src="/img/featured-domain-le-tap-annuaire-vigneron.webp" class="w-100" alt="Photo {{ domain.name }}">
            {% endif %}
            </div>
            <div class="col-12 col-md-6 bg-purple p-5 text-white" style="height:600px;">
                <h2 style="font-size:1.8rem;font-weight:600;">Contact & adresse</h2>
              {% if domain.phone %}<span class="d-block" style="font-size:1.8rem;font-weight:200;"><a class="text-white text-decoration-none" href="tel:{{ domain.phone|replace({ ' ': '' }) }}">{{ domain.phone }}</a></span>{% endif %}
              <div class="address d-flex flex-row py-3" style="font-size:1.1rem;font-weight:200;">
                  <i class="fa-solid fa-location-dot mt-1 me-2"></i>
                  <p>{% if domain.address %}<span>{{ domain.address }}</span><br>{% endif %}{{ domain.city.zipcode }} {{ domain.city.name }}</p>
              </div>
              {% if domain.schedule %}
              <h2 style="font-size:1.8rem;">Horaires</h2>
              {{ domain.schedule|raw }}
              {% endif %}
              <div class="commerce-social-links mt-5">
                  {% if domain.email %}<a class="btn btn-social-links bg-black text-white rounded-circle me-md-2" href="mailto:{{ domain.email }}" title="Contacter {{ domain.name }}"><i class="fa-solid fa-envelope"></i></a>{% endif %}
                  {% if domain.website %}<a class="btn btn-social-links bg-black text-white rounded-circle me-md-2" href="{{ domain.website }}" title="Visiter le site internet de {{ domain.name }}" target="_blank"><i class="fa-solid fa-globe"></i></a>{% endif %}
                  {% if domain.facebook %}<a class="btn btn-social-links bg-white text-purple btn-social-links-fb rounded-circle me-md-2" href="{{ domain.facebook }}" title="Suivre {{ domain.name }} sur Facebook" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>{% endif %}
                  {% if domain.instagram %}<a class="btn btn-social-links bg-white text-purple rounded-circle me-md-2" href="{{ domain.instagram }}" title="Suivre {{ domain.name }} sur Instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>{% endif %}
                  {% if domain.linkedin %}<a class="btn btn-social-links bg-white text-purple rounded-circle me-md-2" href="{{ domain.linkedin }}" title="Suivre {{ domain.name }} sur LinkedIn" target="_blank"><i class="fa-brands fa-linkedin"></i></a>{% endif %}
                  {% if domain.pinterest %}<a class="btn btn-social-links bg-white text-purple rounded-circle me-md-2" href="{{ domain.pinterest }}" title="Suivre {{ domain.name }} sur Pinterest" target="_blank"><i class="fa-brands fa-pinterest"></i></a>{% endif %}
                  {% if domain.twitter %}<a class="btn btn-social-links bg-white text-purple rounded-circle me-md-2" href="{{ domain.twitter }}" title="Suivre {{ domain.name }} sur Twitter" target="_blank"><i class="fa-brands fa-twitter"></i></a>{% endif %}
              </div>
            </div>
            {% if domain.lat and domain.lng %}
            <div id="mapid" class="col-12 col-md-6 p-0" style="height:600px;"></div>
            {% else %}
            <div class="col-12 col-md-6 p-0" style="height:600px;"></div>
            {% endif %}
        </div>
    </div>
    <div class="cta py-md-5" style="margin-top: 150px;">
        <div class="container container-help-us bg-white">
            <div class="row">
                <div class="col-12 col-md-4 text-center text-md-start">
                    <img src="/img/illustration-wine.webp" class="img-fluid help-us" alt="illustration bouteille de vin">
                </div>
                <div class="col-12 col-md-8 text-center text-md-start py-4 pe-4">
                    <h2 class="text-purple">Aidez-nous à <strong>n'oublier aucun vigneron</strong></h2>
                    <p class="text-black">Votre aide nous est précieuse, en deux, trois clics, recensez vos vignerons préférés. Et si vous-même, êtes vignerons, <a class="text-black" href="{{ path('inscription') }}">enregistrez-vous</a> !</p>
                    <a class="btn btn-green mb-2" href="{{ path('contact') }}">Contactez-nous pour répertorier un vigneron</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    {% if domain.lat and domain.lng %}
    <script>
        var mymap = L.map('mapid').setView([{{ domain.lat }}, {{ domain.lng }}], 14);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
        }).addTo(mymap);
        var marker = L.marker([{{ domain.lat }}, {{ domain.lng }}]).addTo(mymap);
    </script>
    {% endif %}
{% endblock %}
