{% extends 'base.html.twig' %}

{% block title %}{{ page_name }} | Le Tap{% endblock %}

{% block description %}{% endblock %}

{% block body %}
<div class="banner-default" style="background:url(/img/banner/banner-annuaire-de-vigneron-le-tap.webp)">
    <div class="container w-75" style="padding-top:180px;">
        <h1 class="text-white ps-3" style="border-left: solid 5px #761F76;font-weight:300;">Les vignerons des Pyrénées-Orientales <br><strong>sont dans le Tap</strong></h1>
    </div>
</div>
<div class="container container-search-domain bg-white rounded-3 shadow px-4 py-4 w-75">
    {{ form_start(form) }}
        <div class="row">
            <div class="col-12 col-md-4 mb-3 mb-md-0 align-self-center">
                {{ form_widget(form.keywords) }}
            </div>
            <div class="col-12 col-md-3 mb-3 mb-md-0 align-self-center">
                {{ form_widget(form.city) }}
            </div>
            <div class="col-12 col-md-3 mb-3 mb-md-0 align-self-center">
                {{ form_widget(form.land) }}
            </div>
            <div class="col-12 col-md-2 mb-3 mb-md-0 text-center text-md-end align-self-center">
                <button type="submit" class="btn btn-green w-100 py-2 shadow">Rechercher</button>
            </div>
        </div>
    {{ form_end(form) }}
</div>
<div class="container mb-5 p-5">
    <div class="row">
    {% if domains|length == 0 %}
        <div class="col-12 text-center">
            Aucun résultat correspondant à votre recherche n'a été trouvé. Vous devriez peut-être modifier vos critères de recherche.
        </div>
    {% else %}
    {% for domain in domains %}
        <div class="col-12 col-md-4 mb-4">
            <div id="card-{{ domain.slug }}" class="card bg-white h-100">
            {% if domain.thumbnailName %}
                <img src="{{ vich_uploader_asset(domain, 'thumbnailFile') }}" class="card-img-top" alt="photo de {{ domain.name }}" />
            {% else %}
                <img src="/img/thumbnail-domain-le-tap-annuaire-vigneron.jpg" class="card-img-top" alt="Photo {{ domain.name }}">
            {% endif %}
                <div class="card-body">
                    <h2 class="card-title" style="font-size:1.2rem;">
                        {{ domain.name }}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if is_granted('ROLE_TEAM') %}
                        <a class="ms-2" href="{{ path('backoffice_domain_edit', {'slug': domain.slug}) }}">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        {% endif %}
                        {% endif %}
                    </h2>
                    <p class="card-text" style="font-size:0.9rem;">{{ domain.description }}</p>
                </div>
                <div class="card-footer bg-white pb-3" style="border-top:none">
                    <a class="btn btn-sm btn-purple w-100" href="{{ path('domain_show', {'slug': domain.slug}) }}">voir la page de ce vigneron</a>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}
        <div class="col-12 py-5">
            {{ knp_pagination_render(domains) }}
        </div>
    </div>
</div>
<div class="container container-help-us bg-white mt-3">
    <div class="row">
        <div class="col-12 col-md-4">
            <img src="/img/illustration-wine.webp" class="img-fluid help-us" alt="illustration bouteille de vin">
        </div>
        <div class="col-12 col-md-8 py-4 pe-4">
            <h2 class="text-purple">Aidez-nous à <strong>n'oublier aucun vigneron</strong></h2>
            <p class="text-black">Votre aide nous est précieuse, en deux, trois clics, recensez vos vignerons préférés. Et si vous-même, êtes vignerons, <a class="text-black" href="{{ path('inscription') }}">enregistrez-vous</a> !</p>
            <a class="btn btn-green mb-2" href="{{ path('contact') }}">Contactez-nous pour répertorier un vigneron</a>
        </div>
    </div>
</div>
{% endblock %}
