{% extends 'base.html.twig' %}

{% block title %}{{ page_name }} | Le Tap{% endblock %}

{% block description %}{{ page_description }}{% endblock %}

{% block body %}
<div class="banner-default" style="background:url(/img/banner/banner-accueil-le-tap.webp)">
    <div class="container-banner-default">
        <h1 class="text-white">Le Tap répertorie tous les vignerons <br><strong>des Pyrénées-Orientales</strong></h1>
    </div>
</div>
<div class="content bg-white">
    <div class="container container-default-page">
        <div class="row">
            <div class="col-12 col-md-5">
                <img src="/img/le-tap-annuaire-de-vignerons.webp" class="img-fluid img-accueil" alt="Le Tap : L'annuaire qui répertorie les vignerons">
            </div>
            <div class="accueil-intro col-12 col-md-7 py-1">
                <p>Le Tap est un nouvel annuaire qui a pour objectif de référencer l’ensemble des Vignerons du département des Pyrénées-Orientales, qu’ils soient conventionnels, Bio ou Nature.</p>
                <p>L'annuaire des vignerons permet une lecture par secteur géographique et met en avant les activités proposées par chaque domaine (hébergement, dégustation, visite, événements, etc...).</p>
                <p>Le Tap est diffusé massivement tout au long de l’année pour offrir à chacun une information simple et pratique des vins du Roussillon. Il met en avant les singularités du terroir Catalan, ses cuvées primées et ses millésimes.</p>
            </div>
        </div>
    </div>
</div>
<div class="spacer bg-white" style="height:150px;"></div>
<div class="container container-help-us bg-purple">
    <div class="row">
        <div class="col-12 col-md-4 text-center text-md-start">
            <img src="/img/illustration-wine.webp" class="img-fluid help-us" alt="illustration bouteille de vin">
        </div>
        <div class="col-12 col-md-8 py-4 pe-4 text-center text-md-start">
            <div class="cta-content">
                <h2 class="text-white">Aidez-nous à <strong>n'oublier aucun vigneron</strong></h2>
                <p class="text-white">Votre aide nous est précieuse, en deux, trois clics, recensez vos vignerons préférés. Et si vous-même, êtes vignerons, <a class="text-white" href="{{ path('inscription') }}">enregistrez-vous</a> !</p>
                <a class="btn btn-white mb-2" href="{{ path('contact') }}">Contactez-nous pour répertorier un vigneron</a>
            </div>
        </div>
    </div>
</div>
<div class="container mb-5 pt-3 pb-5">
    <div class="d-flex flex-row justify-content-between align-items-center mb-3">
        <h2>Ces vignerons sont déjà dans l'annuaire</h2>
        <a class="btn btn-green shadow" href="{{ path('domain_index') }}">Rechercher un vigneron</a>
    </div>
    <div class="row pt-4">
    {% for domain in latestDomains %}
        <div class="col-12 col-md-4 pb-4">
            <div class="card card-{{ domain.slug }} bg-white h-100">
            {% if domain.thumbnailName %}
                <img src="{{ vich_uploader_asset(domain, 'thumbnailFile') }}" class="card-img-top" alt="photo de {{ domain.name }}" />
            {% else %}
                <img src="/img/thumbnail-domain-le-tap-annuaire-vigneron.jpg" class="card-img-top" alt="Photo {{ domain.name }}">
            {% endif %}
                <div class="card-body">
                    <h3 class="h5 card-title">{{ domain.name }}</h3>
                    <p class="card-text">{{ domain.description|slice(0, 100) ~ (domain.description|length > 100 ? '...' : '') }}</p>
                </div>
                <div class="card-footer bg-white pb-3" style="border-top:none">
                    <a class="btn btn-sm btn-purple w-100" href="{{ path('domain_show', {'slug': domain.slug}) }}">voir la page de ce vigneron</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
