{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block description %}{% endblock %}

{% block body %}
<div class="banner" style="background:url(/img/banner/banner-accueil-le-tap.webp) no-repeat center center;background-size: cover;height:442px;margin-top:-80px;">
</div>
<div class="container w-50 bg-white rounded-3 shadow mb-5 p-5" style="margin-top:-200px;">
    <h1 class="mb-5">{{ page_name }}</h1>

    {{ form_start(registrationForm) }}
        <div class="form-floating mb-3">
            {{ form_widget(registrationForm.firstname) }}
            {{ form_label(registrationForm.firstname) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(registrationForm.lastname) }}
            {{ form_label(registrationForm.lastname) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(registrationForm.winemaker) }}
            {{ form_label(registrationForm.winemaker) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(registrationForm.phone) }}
            {{ form_label(registrationForm.phone) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(registrationForm.email) }}
            {{ form_label(registrationForm.email) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(registrationForm.password.first) }}
            {{ form_label(registrationForm.password.first) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(registrationForm.password.second) }}
            {{ form_label(registrationForm.password.second) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(registrationForm.agreeTerms) }}
            {{ form_label(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="btn btn-purple w-100">je m'inscris</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
