{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block description %}{% endblock %}

{% block body %}
<div class="banner-default" style="background:url(/img/banner/banner-accueil-le-tap.webp)">
    <div class="container-banner-default">
        <h1 class="text-white">Mentions légales <br><strong>Le Tap, l'annuaire des vignerons</strong></h1>
    </div>
</div>
<div class="content bg-white">
    <div class="container container-default-page">
        <div class="row">
            <div class="col-12">
                <h2>Site édité par</h2>
                <p>Kalkom</p>
                <p>
                    <strong>Siège social :</strong> 64 Rue de la lanterne<br>
                    <strong>RCS DE PERPIGNAN :</strong> 481 808 111<br>
                    <strong>SIRET :</strong> 481 808 111 00050<br>
                    <strong>NAF/APE :</strong> 7022 Z
                </p>
                <h2>Hébergeur :</h2>
                <p>
                    <strong>INFOMANIAK</strong><br>
                    <strong>Siège social :</strong> Genève, Suisse<br>
                    <strong>Forme Juridique :</strong> Société Anonyme<br>
                    <strong>Capital :</strong> 102 000 CHF
                </p>
                <h2>Directeur de la publication</h2>
                <p>
                    <strong>Jérôme Vilaceque</strong>,<br>
                    <strong>Téléphone :</strong> +33 4 68 51 37 81
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
