{% extends 'base.html.twig' %}

{% block title %}{{ page_name }} | Le Tap{% endblock %}

{% block description %}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div class="banner" style="background:url(/img/banner/banner-accueil-le-tap.webp) no-repeat center center;background-size: cover;height:442px;margin-top:-80px;">
        <div class="container w-75" style="padding-top:175px;">
            <h1 class="text-white ps-3" style="border-left: solid 5px #761F76;font-weight:300;">Le magazine des vignerons <br><strong>des Pyrénées-Orientales</strong></h1>
        </div>
    </div>
    <div class="container bg-white w-75 p-5 rounded-3 shadow" style="margin-bottom:100px;margin-top:-100px;">
    {% for category in categories %}
        <section id="{{ category.slug }}" class="my-5">
            <div class="section-headline text-center mb-5">
                <h2 class="h4 text-purple">{{ category.name }}</h2>
                <p>{{ category.headline }}</p>
            </div>
            <div class="section-content mb-3">
                <div class="row">
                {% for post in latestPostsByCategory[category.getId()] %}
                <div class="col-12 col-md-4 mb-3">
                    <div class="card h-100 bg-light rounded-3">
                    {% if post.thumbnailName %}
                        <img src="{{ vich_uploader_asset(post_thumbnail, 'thumbnailFile') }}" class="card-img-top rounded-top-3" alt="photo de {{ post.title }}" />
                    {% else %}
                        <img src="/img/thumbnail-domain-le-tap-annuaire-vigneron.jpg" class="card-img-top rounded-top-3" alt="Photo {{ post.title }}">
                    {% endif %}
                        <div class="card-body">
                            <a class="text-black text-decoration-none" href="{{ path('article', {'category': post.category.slug, 'slug': post.slug}) }}"><h3 class="card-title" style="font-size:1.1rem;font-weight:400;">{{ post.title }}</h3></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
            <div class="section-footer text-center">
                <a class="btn bg-light text-green py-3 px-4 rounded-3" href="{{ path('category', {'slug': category.slug}) }}">Voir tous les articles dans <strong>&laquo; {{ category.name }} &raquo;</strong></a>
            </div>
        </section>
    {% else %}
        <div>
            no records found
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
