{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block description %}{% endblock %}

{% block body %}
<div class="banner-default" style="background:url(/img/banner/banner-accueil-le-tap.webp)">
    <div class="container-banner-default">
        <h1 class="text-white">Politique de confidentialité <br><strong>Le Tap, l'annuaire des vignerons</strong></h1>
    </div>
</div>
<div class="content bg-white">
    <div class="container container-default-page">
        <div class="row">
            <div class="col-12 col-md-5">
                content
            </div>
        </div>
    </div>
</div>
{% endblock %}
