{% extends 'base.html.twig' %}

{% block title %}Résultats de recherche pour "{{ keyword }}"{% endblock %}

{% block description %}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div class="banner" style="background:url(/img/banner/banner-accueil-le-tap.webp) no-repeat center center;background-size: cover;height:442px;margin-top:-80px;">
        <div class="container w-75" style="padding-top:175px;">
            <h1 class="text-white ps-3" style="border-left: solid 5px #761F76;">Résultats de recherche pour <br><strong>{{ keyword }}</strong></h1>
        </div>
    </div>
    <div class="container bg-white w-75 p-5 rounded-3 shadow" style="margin-bottom:100px;margin-top:-100px;">
        {% if domains is not empty or posts is not empty %}
        <ul class="list-unstyled">
        {% if posts is not empty %}
                {% for post in posts %}
                    <li>
                        <a href="{{ path('article', {'category': post.category.slug, 'slug': post.slug}) }}">{{ post.title }}</a>
                        <p>{{ post.description|length > 125 ? post.description|slice(0, 125) ~ '...' : post.description }}</p>
                    </li>
                {% endfor %}
        {% endif %}
        {% if domains is not empty %}
                {% for domain in domains %}
                    <li>
                        <a href="{{ path('domain_show', {'slug': domain.slug}) }}">{{ domain.name }}</a>
                        <p>{{ domain.description|length > 125 ? domain.description|slice(0, 125) ~ '...' : domain.description }}</p>
                    </li>
                {% endfor %}
        {% endif %}
        </ul>
        {% else  %}
        aucun résultat
        {% endif %}
    </div>
</div>
{% endblock %}
