{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block description %}{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="banner" style="background:url(/img/banner/banner-accueil-le-tap.webp) no-repeat center center;background-size: cover;height:442px;margin-top:-80px;">
        <div class="container w-75" style="padding-top:150px;">
            <h1 class="text-white ps-3" style="border-left: solid 5px #761f76;font-weight:300;">Nos services <br><strong>pour les vignerons</strong></h1>
        </div>
    </div>
    <div class="bg-white" style="height:300px;">
    </div>
    <div class="container w-75 bg-white rounded-4 shadow p-5" style="margin-bottom:120px;margin-top:-430px;">
        <p class="lead text-purple">Nous proposons <strong>une gamme complète de services dédiés aux vignerons</strong>, pour vous aider à promouvoir votre domaine et vos vins. De la création de contenu à la conception de sites web, notre équipe d'experts est là pour vous accompagner.</p>
        <div class="separator-heading">
        </div>
        <section id="marketing-digital">
            <div class="section-header text-center mb-5">
                <h2 class="text-green">Acquisition de trafic</h2>
                <p>Boostez votre visibilité et attirez plus de clients grâce à nos stratégies éprouvées d'acquisition de trafic.</p>
            </div>
            <div class="section-content text-center row">
                <div class="col-12 col-md-4">
                    <i class="fa-solid fa-bullseye-pointer fa-3x mb-3 text-purple"></i>
                    <h3 class="h4 text-purple">Marketing direct</h3>
                    <p>diffusion ciblée de vos cartes de visites, flyers, affiches...</p>
                </div>
                <div class="col-12 col-md-4">
                    <i class="fa-solid fa-bullhorn fa-3x mb-3 text-purple"></i>
                    <h3 class="h4 text-purple">Marketing digital</h3>
                    <p>création et animation de vos pages de réseaux sociaux...</p>
                </div>
                <div class="col-12 col-md-4">
                    <i class="fa-solid fa-display-chart-up fa-3x mb-3 text-purple"></i>
                    <h3 class="h4 text-purple">Référencement / SEO</h3>
                    <p>optimisation de votre site pour les moteurs de recherches...</p>
                </div>
            </div>
        </section>
        <div class="separator-section">
        </div>
        <section id="content">
            <div class="section-header text-center mb-5">
                <h2 class="text-green">Création de contenu</h2>
                <p>Nous créons du contenu captivant et de qualité pour mettre en valeur votre savoir-faire et vos produits.</p>
            </div>
            <div class="section-content text-center row">
                <div class="col-12 col-md-4">
                    <i class="fa-solid fa-camera-movie fa-3x mb-3 text-purple"></i>
                    <h3 class="h4 text-purple">Audiovisuel</h3>
                    <p>Production de vidéos et podcasts pour raconter votre histoire et celle de vos vins.</p>
                </div>
                <div class="col-12 col-md-4">
                    <i class="fa-solid fa-camera-retro fa-3x mb-3 text-purple"></i>
                    <h3 class="h4 text-purple">Photographie</h3>
                    <p>Capturez l'essence de votre domaine grâce à des photos professionnelles.</p>
                </div>
                <div class="col-12 col-md-4">
                    <i class="fa-solid fa-pen-field fa-3x mb-3 text-purple"></i>
                    <h3 class="h4 text-purple">Rédactionnel</h3>
                    <p>Articles, descriptions de produits et contenus web optimisés pour le SEO et captivants pour vos lecteurs.</p>
                </div>
            </div>
        </section>
        <div class="separator-section">
        </div>
        <section id="website">
            <div class="section-header text-center mb-5">
                <h2 class="text-green">Création de site Internet</h2>
                <p>Donnez à votre domaine une présence en ligne impressionnante avec un site web sur mesure.</p>
            </div>
                <div class="section-content text-center row">
                    <div class="col-12 col-md-6">
                        <i class="fa-regular fa-globe fa-3x mb-3 text-purple"></i>
                        <h3 class="h4 text-purple">Site vitrine</h3>
                        <p>Exposez votre domaine, vos vins et votre histoire avec un site vitrine élégant et facile à naviguer.</p>
                    </div>
                    <div class="col-12 col-md-6">
                        <i class="fa-solid fa-basket-shopping fa-3x mb-3 text-purple"></i>
                        <h3 class="h4 text-purple">Site marchand</h3>
                        <p>Étendez votre portée commerciale grâce à un site marchand efficace et sécurisé, optimisé pour la vente de vos vins.</p>
                    </div>
                </div>
        </section>
        <div class="separator-section">
        </div>
        <section id="contact" class="px-5">
            <div class="section-header text-center mb-5">
                <h2 class="text-green">Contactez nous</h2>
                <p>paragraphe.</p>
            </div>
            <div class="section-content">
                {{ include('_partials/_contact_form_service.html.twig') }}
            </div>
        </section>
    </div>
</div>
{% endblock %}
