<form method="post" action="{{ path('admin_city_delete', {'id': city.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ city.id) }}">
    <button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
</form>
