{{ form_start(form) }}
<div class="row">
    <div class="col-12">
        <div class="form-floating mb-3">
            {{ form_widget(form.name) }}
            {{ form_label(form.name, 'Nom') }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.zipcode) }}
            {{ form_label(form.zipcode, 'Code postal') }}
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.insee) }}
            {{ form_label(form.insee, 'Code insee') }}
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-3">
            {{ form_widget(form.description) }}
            {{ form_label(form.description) }}
        </div>
    </div>
    <div class="col-12 text-end pt-3">
        <button class="btn btn-purple">{{ button_label|default('Ajouter la ville') }}</button>
    </div>
</div>
{{ form_end(form) }}
