{% extends 'back.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <div class="d-flex flex-row justify-content-between align-items-center mb-5">
        <h1>{{ page_name }}</h1>
        <a class="btn btn-purple" href="{{ path('admin_city_new') }}">Ajouter une ville</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Nom</th>
                <th class="text-start">Code postal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td class="text-start">{{ city.name }}</td>
                <td class="text-start">{{ city.slug }}</td>
                <td class="d-flex flex-row justify-content-end align-items-end">
                    <a class="text-purple" href="{{ path('admin_city_show', {'id': city.id}) }}" title="Voir la catégorie"><i class="fa-solid fa-eye me-3"></i></a>
                    <a href="{{ path('admin_city_edit', {'id': city.id}) }}" title="Éditer la catégorie"><i class="fa-solid fa-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
