{% extends 'back.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <div class="d-flex flex-row justify-content-between align-items-center mb-5">
        <h1>{{ page_name }}</h1>
        <a class="btn btn-purple" href="{{ path('admin_city_index') }}">Retour aux villes</a>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ city.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ city.slug }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ city.zipcode }}</td>
            </tr>
            <tr>
                <th>Insee</th>
                <td>{{ city.insee }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ city.description }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ city.updatedAt ? city.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex flex-row-reverse justify-content-between align-items-center">
        <a class="btn btn-purple" href="{{ path('admin_city_edit', {'id': city.id}) }}">Éditer la ville</a>
        {{ include('admin/city/_delete_form.html.twig') }}
    </div>
{% endblock %}
