<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
        <meta name="description" content="{% block description %}{% endblock %}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {% include '_partials/_header.html.twig' %}
        </header>
        <main>
            <div class="back-banner" style="background:url(/img/banner/banner-accueil-le-tap.webp)">
          <div class="{% if app.request.get('_route') == 'account' or app.request.get('_route') == 'edit_infos' or app.request.get('_route') == 'change_password' %}back-banner-container-account{% else %}back-banner-container{% endif %}">
                    <div class="dropdown">
                        <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mon compte
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('account') }}">Accueil</a></li>
                            {% if is_granted('ROLE_TEAM') %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ path('backoffice_contact_index') }}">Contacts reçus</a></li>
                            <li><a class="dropdown-item" href="{{ path('backoffice_domain_index') }}">Gestion des domaines</a></li>
                            <li><a class="dropdown-item" href="{{ path('backoffice_post_index') }}">Gestion des articles</a></li>
                            <li><hr class="dropdown-divider"></li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                            <li><a class="dropdown-item" href="{{ path('admin_land_index') }}">Gestion des vallées</a></li>
                            <li><a class="dropdown-item" href="{{ path('admin_city_index') }}">Gestion des villes</a></li>
                            <li><a class="dropdown-item" href="{{ path('admin_category_index') }}">Gestion des catégories</a></li>
                            <li><hr class="dropdown-divider"></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{{ path('edit_infos') }}">Mes informations</a></li>
                            <li><a class="dropdown-item" href="{{ path('change_password') }}">Mon mot de passe</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ path('deconnexion') }}">Déconnexion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
          <div class="{% if app.request.get('_route') == 'account' or app.request.get('_route') == 'edit_infos' or app.request.get('_route') == 'change_password' %}back-content-container-account{% else %}back-content-container{% endif %} bg-white rounded-4 p-5 mb-5">
                {% block body %}{% endblock %}
            </div>
        </main>
        <footer class="bg-purple">
            {% include '_partials/_footer.html.twig' %}
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="/js/bootstrap.bundle.min.js" defer></script>
            <script src="{{ asset('build/validate-search-field.js') }}" defer></script>
        {% endblock %}
    </body>
</html>
