<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
        <meta name="description" content="{% block description %}{% endblock %}">
        {% block opengraph %}{% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {% include '_partials/_header.html.twig' %}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer class="bg-purple">
            {% include '_partials/_footer.html.twig' %}
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="/js/bootstrap.bundle.min.js" defer></script>
            <script src="{{ asset('build/validate-search-field.js') }}" defer></script>
        {% endblock %}
    </body>
</html>
