{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ page_name }}</h1>

    {{ include('admin/tag/_form.html.twig') }}

    <a href="{{ path('admin_tag_index') }}">back to list</a>
</div>
{% endblock %}
