{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ page_name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tag.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ tag.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ tag.slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tag.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ tag.createdAt ? tag.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ tag.updatedAt ? tag.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_tag_index') }}">back to list</a>

    <a href="{{ path('admin_tag_edit', {'id': tag.id}) }}">edit</a>

    {{ include('admin/tag/_delete_form.html.twig') }}
</div>
{% endblock %}
