<form method="post" action="{{ path('backoffice_contact_delete', {'id': contact.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
    <button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
</form>
