{% extends 'back.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
<div class="d-flex flex-row justify-content-between align-items-center mb-5">
    <h1>{{ page_name }}</h1>
</div>
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Reçu le</th>
                <th class="text-start">Contact</th>
                <th class="text-start">Vigneron</th>
                <th class="text-start">Objet</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td class="text-start">{{ contact.createdAt ? contact.createdAt|date('d/m/Y à H:i', timezone='Europe/Paris') : '' }}</td>
                <td class="text-start">{{ contact.firstname }} {{ contact.lastname }}</td>
                <td class="text-start">{{ contact.winemaker ? 'Oui' : 'Non' }}</td>
                <td class="text-start">{{ contact.subject }}</td>
                <td class="text-end">
                    <a class="text-purple" href="{{ path('backoffice_contact_show', {'id': contact.id}) }}"><i class="fa-solid fa-eye"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
