{% extends 'back.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <div class="d-flex flex-row justify-content-between align-items-center mb-5">
        <h1>{{ page_name }}</h1>
        <a class="btn btn-purple" href="{{ path('backoffice_contact_index') }}">Retour aux contacts</a>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>Le {{ contact.createdAt ? contact.createdAt|date('d/m/Y à H:i', timezone='Europe/Paris') : '' }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ contact.firstname }} {{ contact.lastname }}</td>
            </tr>
            <tr>
                <th>Adresse e-mail</th>
                <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
            </tr>
            <tr>
                <th>N° de téléphone</th>
                <td><a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></td>
            </tr>
            <tr>
                <th>Vigneron</th>
                <td>{{ contact.winemaker ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ contact.subject }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ contact.message }}</td>
            </tr>
            <tr>
                <th>Rgpd</th>
                <td>{{ contact.rgpd ? 'Je suis d\'accord avec la politique de confidentialité du Tap' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('backoffice/contact/_delete_form.html.twig') }}
{% endblock %}
